*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  background-color: rgba(127, 255, 212, 0.267);
  border: 1px solid black;
  min-height: 80px;
}
/******************HEADER*******************/

header{
  background-color: #fe6900;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;

}

header .container{
  height: 50px;
}

header .container .categorie{
  display: flex;
  width: 120px;
  justify-content: space-between;
}

header .container .categorie a{
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

header .logo img{
  width: 100px;
}

header .container .personale{
  display: flex;
  width: 45px;
  justify-content: space-between;
}

/*****************MAIN********************/

.container-main{
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
}

main .row{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

main .card{
  position: relative;
  width: 380px;
  height: 600px;
  margin: 10px;
}

main img{
  position: relative;
  max-width: 380px;
}

.card img.cover{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.card img.cover:hover{
  display: none;
}

.discount{
  position: absolute;
  left: 0px;
  bottom: 80px;
  z-index: 50;
  background-color: red;
  color: white;
  padding: 5px 10px;
}

.bg-green{
  position: absolute;
  left: 0px;
  bottom: 80px;
  z-index: 50;
  background-color: green;
  color: white;
  padding: 5px 10px;
}

.heart{
  position: absolute;
  right: -2px;
  top: 10px;
  background-color: white;
  color: black;
  font-size: 30px;
  line-height: 40px;
  padding: 5px 15px;
  z-index: 50;
}

.heart:hover{
 color: red;
}

.brand{
  display: block;
}

.name{
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.price{
 color: red;
}

.original-price{
  text-decoration: line-through;
  color: black;
}

.levi .bg-green{
  position: absolute;
  left: 55px;
  bottom: 80px;
}

/************FOOTER*************/

footer{
  background-color: #1A1A1A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  height: 80px;
  padding-top: 20px;
}

footer .info span{
  font-size: 18px;
  font-weight: 700;
}

footer .info ul li{
  display: inline-block;
  list-style-type: none;
  font-weight: 100;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

footer .info ul li a{
  padding: 10px 15px 10px 0;
  list-style-type: none;
  font-weight: 100;
  text-decoration: none;
  color: white;
}

footer span.social-buttons{
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer i{
  font-size: 20px;
  padding-right: 5px;
}